# caching objects
__pycache__/

# virtual enviroment
venv

# YAML files in development
data/inital_confluence_templates.yaml
data/inital_recipie_templates.yaml
data/inital_seaborn_snippets.yaml
data/inital_numpy_snippets.yaml

